<% provide :title, t("admin.subject.create") %>
<% provide :button_text, t("admin.subject.button2") %>
<h1><%= t "admin.subject.create" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "subject_form" %>
  </div>
</div>
