<% provide :title ,t("static_pages.home.title_page") %>
<div class="center jumbotron">
  <h2>
    <%= t "static_pages.home.content" %>
  </h2>

  <%= link_to t("layout.header.button"), signup_path,
    class: "btn btn-lg btn-primary" %>
</div>
