<footer class="footer">
  <small>
    <p>© <%= l Date.today %><%=link_to t "layout.footer.title" %></p>
  </small>
  <nav>
    <ul>
      <li><%=link_to t "contact" %></li>
    </ul>
  </nav>
</footer>
